* { 
    box-sizing: border-box;
}

body {
    background-color: rgb(155, 208, 255);
    margin: 0 auto;
    
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.navigation-container {
    display: flex;
    justify-content: space-between;
    background-color: rgb(91, 159, 219);
}

.nav-logo {
    margin-left: 20px;
    font-size: larger;
    flex: 1;
    padding: 20px 15px;

}

.navvy-tit {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 0 15px;
}

.nav-title {
   text-align: center;
    font-size: 32px;
    margin-right: 20px;
    
}

.nav-items-right {
    flex: 1;
    padding: 20px 15px;

}
.nav-item {
    padding: 0 20px;
    font-size: larger;
    
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

}


.header {
    padding: 40px 15px;
    
}

