* { 
    box-sizing: border-box;
}

body {
    background-color: rgb(155, 208, 255);
    margin: 0 auto;
    
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.navigation-container {
    display: flex;
    justify-content: space-between;
    background-color: rgb(91, 159, 219);
    padding: 20px 15px;
}

.nav-logo {
    

}

.nav-item {
    padding: 0 20px;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

}

.header {
    
}

